@import "tailwindcss";

@font-face {
    font-family: "ABCGravity";
    font-weight: 300 700;
    src: url("./src/assets/fonts/ Gravity/ABCGravity-XCompressedItalic.woff2") format("woff2"),
        url("./src/assets/fonts/ Gravity/ABCGravity-XCompressedItalic.woff") format("woff"),
        url("./src/assets/fonts/ Gravity/ABCGravity-XCompressedItalic.otf") format("truetype-variations");
}

@theme {
    --color-black: #242424;

    --font-gravity: ABCGravity, sans-serif;
}

